* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  font-family: 'Times New Roman', serif;
  color: #3a4a5e;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

